/*stylesheet*/

body {
	margin: 20px;
	background-image: url(../images/skypexels.jpg);
	background-color: black;
	background-size: cover;
	color: white;
	font-family: 'Inconsolata', regular;
	font-weight: 400;
 
	
}

h1, h2, h3, h4, p {
	margin-top: 0em;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 400;
}


#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background: transparent;
	margin: 4em;
	padding: 2em;
}

#sidebar {
	background: tan;
}

#logo {
	padding: 3em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
}

#content {
	background: black;
}

#nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

#nav li {
	margin-bottom: 1em;
}

#nav li a {
	color: white;
}

#nav li a:hover {
	color: brown;
	text-decoration: none;
}


@media (max-width: 699px) {
	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		#padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: purple;
		margin-bottom: 0;
	}